.passwordchecker{
    width: 35%;
    margin: auto;
    background-color:azure;
    border: 1px solid forestgreen;
    margin-top:10%;
    box-shadow: 3px 0px 20px black;
}
.passwordchecker > h1{
    margin:20px;
}
input,.btns{
    margin-left: 20px ;
    margin-bottom: 20px ;
    /* width: 90%; */
    
}
input{
    background-color: beige;
    padding: 5px;
}
.btns button{
    margin-right: 5px;
    padding: 7px;
    background-color: green;
    color: white;
}
.aboutpass{
    width: 32%;
    margin: auto;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    background-color: red;
    margin-top: 7px;
}
.checkboxes{
    display: flex;
    width: 60%;
}